@media all and (max-width: 500px) {
  /* contact_Section */
  .contact_section {
    position: absolute;
    top: 4290px;
    display: flex;
    flex-direction: column;
    width: 99vw;
  }

  .section-desc {
    order: 1;
    margin-left: 10px;
  }

  .title-contact {
    margin: 0;
    margin-top: 80px;
    margin-left: 20px;
    font-weight: 400;
    font-size: 50px;
    line-height: 100%;
    order: 0;
  }

  .bottom_row {
    order: 5;
    background: #1a2236;
    height: 200px;
  }

  .resume_color {
    color: #92dcdc;
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    position: absolute;
    left: 50px;
  }

  .arrow_upload {
    background-image: url('../img/arraw_upload.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 360px;
    height: 40px;
    position: absolute;
    top: 20px;
  }

  .divicon {
    position: absolute;
    bottom: 0;
    margin-left: 60px;
  }

  .sociallist {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
  }

  .sociallist_link > a > img {
    width: 25px;
    height: 25px;
    margin: 20px;
    border-bottom: 10px;
  }
}
