/* Navigation bar */
.flex_nav {
  align-items: center;
  padding: 50px;
}

.flex_nav ul {
  border: 1px solid white;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.flex_nav li {
  flex: 3;
}

.toggleNav {
  position: absolute;
  width: 20px;
  height: 14px;
  right: 284px;
  top: 19px;
}

.bar {
  height: 4px;
  background-color: black;
  margin: 5px 0;
}

/* Main section */
.mobile_logo {
  display: none;
}

@media all and (max-width: 500px) {

  body {
    margin: 0;
    width: 99vw;
  }

  .flex_container {
    height: 4910px;
    background: #fff;
    /* width: 98vw; */
  }

  .flex_nav {
    align-items: center;
  }

  /* Navigation Section */
  .toggleNav {
    position: absolute;
    width: 20px;
    height: 14px;
    right: 10px;
    top: 5px;
    display: block;
  }

  .mobile_logo {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    background-image: url("../img/mobile_logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 100px;
    height: 100px;
  }

  .flex_nav ul {
    flex-direction: column;
    display: none;
  }

  .text_color {
    color: #1a2236;
  }

  .text_class {
    position: absolute;
    width: 220px;
    height: 100px;
    top: 40px;
    left: 20px;
  }

  .text_subject {
    position: absolute;
    width: 80vw;
    height: 126px;
    left: 16px;
    top: 224px;
  }

  .text_button {
    position: absolute;
    display: flex;
    width: 80vw;
    height: 50px;
    left: 16px;
    top: 370px;
    background: #1a2236;
    color: white;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
  }

  .mobile_image {
    position: absolute;
    height: 220px;
    top: 462px;
    left: 0;
    background-image: url("../img/mobile_image.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 98vw;
  }

  .text_header_font {
    font-family: "Playfair Display", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 120%;
  }

  .text_body_font {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.01em;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background: #f9f9fa;
  }

  .contact-header {
    margin-left: 10px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    order: 4;
  }

  input {
    width: 80vw;
    height: 52px;
    padding: 30px;
    margin: 5px;
    background-color: #fff;
    border: 2px solid #dfdfe0;
    box-sizing: border-box;
    border-radius: 4px;
  }

  textarea {
    width: 80vw;
    padding: 70px;
    margin: 5px;
    background-color: #fff;
    border: 2px solid #dfdfe0;
    box-sizing: border-box;
    border-radius: 4px;
  }

  button {
    width: 80vw;
    padding: 20px;
    margin: 15px;
    background: #1a2236;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    line-height: 24px;
  }
}
